.tile-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 1rem;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}
.tile-list::-webkit-scrollbar {
  display: none;
}

.tile {
  background: var(--color-background-secondary);
  border-radius: 8px;
  text-align: center;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  flex-direction: row;
  box-shadow: 0 0 2rem var(--color-primary-rgba) inset;
  position: relative;
}
.tile:hover {
  background: #a0a0a0;
}

.tile-image {
  width: 45%;
  height: 100%;
  object-fit: cover;
  object-position: center right;
  mask-image: linear-gradient(to right, transparent 5%, white 30%);
  mask-size: 100% 100%;
}

.tile-content {
  display: flex;
  flex-direction: column;
  width: 35%;
  padding-left: 0.5rem;
}
.tile-name {
  color: white;
  font-size: 1rem;
  font-weight: bold;
}
.tile-author {
  font-size: 1rem;
}

.tile-ratings {
  width: 20%;
  margin-right: -1rem;
  min-width: 60px;
}
.tile-rating-icons > * {
  margin: 5px;
}
.tile-rating-values > * {
  font-size: 0.8rem;
  margin: 5px;
}

.bookmark {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  transform: none;
  z-index: 1;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.modal-content {
  background: #242424;
  height: calc(100dvh - 2rem - var(--bottomNav-height) * 2);
  width: 100dvw;
  padding: 0 2rem 2rem 2rem;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}
.modal-content h2 {
  font-size: 2rem;
  margin: 1rem 0 0 0;
}
.modal-content h3 {
  margin: 2rem 0 0 0;
  padding: 0;
  color: var(--color-primary);
  font-size: 1.5rem;
}

.floating-close-button {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  width: 6rem;
}

.ingredient-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.ingredient-item {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0;
  border-bottom: 1px solid #333;
}
.ingredient-name,
.ingredient-amount {
  font-size: 1rem;
}
