.recipe-browser-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
  height: calc(100dvh - var(--bottomNav-height));
  justify-content: center;
  align-items: center;
}

.recipe-browser {
  flex: 1;
  overflow-y: auto;
  scrollbar-width: none;
  width: 98dvw;
}

.search-input {
  color: #fff;
  background-color: transparent;
  text-align: center;
  border-radius: 14px;
  border: 1px solid var(--color-primary);
  padding: 0.5rem 0.5rem;
  width: 100%;
}
.search-input:focus {
  outline: 2px solid var(--color-highlight-bright);
  width: calc(90dvw - 2px);
  border: none;
  margin: 1px;
}

.recipe-search-button {
  background-color: transparent;
  border: none;
  padding: 0.3rem;
}
.recipe-search-button:hover {
  background-color: var(--color-primary-rgba);
  border-radius: 50%;
}

.recipe-search-form {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  width: 90dvw;
}
