.recipe-browser-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
  height: calc(100dvh - var(--bottomNav-height));
  justify-content: center;
  align-items: center;
}

.recipe-browser {
  flex: 1;
  overflow-y: auto;
  scrollbar-width: none;
  width: 90dvw;
}

.search-input {
  color: #fff;
  background-color: transparent;
  text-align: center;
  border-radius: 14px;
  border: 1px solid var(--color-primary);
  padding: 10px 0;
  width: 90dvw;
}
.search-input:focus {
  outline: 2px solid var(--color-highlight-bright);
  border: none;
  margin: 1px;
}
