.home-wrapper {
  height: calc(100dvh - var(--bottomNav-height));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#signInButton,
#logoutButton {
  position: absolute;
  top: 1em;
  left: 1em;
  width: 7em;
}
