.logo {
  height: 20dvh;
  will-change: filter;
  filter: drop-shadow(0 0 20px #ffffffd0);
  margin: 3dvh;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home {
  text-align: center;
}

#signInButton {
  position: absolute;
  top: 1em;
  left: 1em;
  width: 7em;
}

#logoutButton {
  position: absolute;
  top: 1em;
  left: 1em;
  width: 7em;
}
