.service-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.server-status,
.database-status {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.server-icon,
.database-icon {
  color: green;
}

.server-off-icon,
.database-off-icon {
  position: relative;
  color: red;
}
