.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100dvw;
  background: #1a1a1a;
  border-top: 1px solid #303030;
  display: flex;
  justify-content: space-around;
  padding: 0.3rem 0;
  z-index: 100;
}

.nav-item {
  visibility: hidden;
}

.nav-link {
  padding: 0.2rem 0.3rem 0 0.3rem;
  opacity: 0.6;
}

.nav-link.active {
  opacity: 1;
  background-color: var(--color-primary-rgba);
  border-radius: 30%;
}
