label {
  font-size: 1.3rem;
}

input[type="text"],
textarea {
  font-size: 1rem;
}

.create-recipe-wrapper {
  width: 100dvw;
  height: calc(100dvh - var(--bottomNav-height));
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-recipe-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 90dvw;
  height: 100%;
}

.create-recipe-body::-webkit-scrollbar {
  display: none;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding: 1rem 0 0 0;
  width: 100%;
}

.recipe-title {
  color: var(--color-text);
  background-color: transparent;
  border-radius: 14px;
  border: 1px solid var(--color-primary);
  padding: 0.5rem;
  height: 1.3rem;
}

.group-ingredients {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0.3rem 0;
}

.recipe-ingredients-amount,
.recipe-ingredients-name {
  color: var(--color-text);
  background-color: transparent;
  border-radius: 14px;
  border: 1px solid var(--color-primary);
  height: 1.3rem;
  width: 50%;
  padding: 0.5rem;
}

.ingredients-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.add-ingredient,
.remove-ingredient {
  height: 2.3rem;
  width: 4rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--color-text);
  border-radius: 14px;
}

.recipe-instructions {
  color: var(--color-text);
  background-color: transparent;
  border-radius: 14px;
  border: 1px solid var(--color-primary);
  padding: 0.5rem;
  text-align: left;
  height: 96px;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  resize: none;
}

.recipe-instructions::-webkit-scrollbar {
  display: none;
}

.recipe-instructions::placeholder {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.recipe-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding-bottom: 0.5rem;
}

.recipe-image-upload-button {
  height: 2.5rem;
  width: 4rem;
  padding: 0.7rem;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--color-text);
}

.image-preview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  --image-width: calc(45dvw - 1rem);
  width: calc(90dvw - 1rem);
  padding: 0.5rem;
  border-radius: 14px;
}

.image-preview-item {
  align-items: center;
  width: var(--image-width);
  height: var(--image-width);
}

.image-preview-img {
  border-radius: 14px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.add-more-images {
  width: calc(50% - 0.5rem);
}

.add-more-images-button {
  width: 100%;
  height: 100%;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background: var(--color-background-secondary);
  border: 1px solid var(--color-primary);
  border-radius: 14px;
  color: var(--color-text);
  padding: 1rem;
  text-align: center;
  width: 60dvw;
  height: 20dvh;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: bold;
  justify-content: space-around;
}

.popup-buttons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.bottom-nav-create-recipe {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100dvw;
  background: #1a1a1a;
  border-top: 1px solid #303030;
  display: flex;
  justify-content: space-around;
  height: var(--bottomNav-height);
}

.create-button {
  cursor: pointer;
  background: transparent;
  border: transparent;
}

.cancel-button {
  cursor: pointer;
  background: transparent;
  border: transparent;
}

.upload-button {
  display: none;
}

.create-top-nav {
  border-bottom: 1px solid var(--color-text);
  width: 100%;
  text-align: center;
}
