label {
  font-size: 1.3rem;
}

input[type="text"],
textarea {
  font-size: 0.9rem;
}

.create-recipe-wrapper {
  width: 100dvw;
  height: calc(100dvh - var(--bottomNav-height));
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-recipe-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.create-recipe-body::-webkit-scrollbar {
  display: none;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 1rem 0rem 0rem 0rem;
}

.recipe-title {
  color: var(--color-text);
  background-color: transparent;
  border-radius: 14px;
  border: 1px solid var(--color-primary);
  padding: 0.6rem;
  height: 1.2rem;
  width: 80dvw;
}

.group-ingredients {
  display: flex;
  flex-direction: row;
  width: 80dvw;
}

.recipe-ingredients-data {
  color: var(--color-text);
  background-color: transparent;
  border-radius: 14px;
  border: 1px solid var(--color-primary);
  height: 1.2rem;
  padding: 0.6rem;
  margin: 0.3rem 0 0 0;
  gap: 0.5rem;
}

.ingredients-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.addingredient,
.removeingredient {
  width: 15dvw;
  height: 5dvh;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-instructions {
  color: var(--color-text);
  background-color: transparent;
  border-radius: 14px;
  border: 1px solid var(--color-primary);
  padding: 0.7rem;
  text-align: left;
  height: 30dvh;
  width: 80dvw;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  resize: none;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.recipe-instructions::-webkit-scrollbar {
  display: none; /* Safari, Chrome */
}

.recipe-instructions::placeholder {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.recipe-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.recipe-image-upload-button {
  width: 15dvw;
  height: 5dvh;
  padding: 0.7rem;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-preview {
  margin: 0.3rem 0 0 0;
  height: 15dvh;
  width: 80dvw;
  padding: 0.7rem;
  border: 1px solid var(--color-primary);
  border-radius: 14px;
  display: flex;
  flex-wrap: wrap;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background: var(--color-background-secondary);
  border: 1px solid var(--color-primary);
  border-radius: 14px;
  color: var(--color-text);
  padding: 1rem;
  text-align: center;
  width: 60dvw;
  height: 20dvh;
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  font-weight: bold;
  justify-content: space-around;
}

.popup-buttons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.bottom-nav-create-recipe {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100dvw;
  background: #1a1a1a;
  border-top: 1px solid #303030;
  display: flex;
  justify-content: space-around;
  padding: 0.3rem 0;
  z-index: 10;
  height: --bottom-nav-height;
}

.create-button {
  cursor: pointer;
  background: transparent;
  border: transparent;
}

.cancel-button {
  cursor: pointer;
  background: transparent;
  border: transparent;
}

.upload-button {
  display: none;
}
